/* styling for all pages */
html {
  margin: 40px;
}
body {
  background-color: #fff4b3;
}
.jumbotron {
  background-color: #fff4b3;
}
.titleEffects {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: "Copperplate";
}


/* login page */
#loginJumboAnimation {
  animation-duration: 2.5s;
}
h2 {
    color: black;
    text-align:center;
}
#username{
  height: 50px;
}
#userInputAnimation {
  animation-delay: 1.75s;
  animation-duration: 1.75s;
}
.btn-lg {
  color: black;
  background-color: #40C4FF;
  border: 3px outset #40C4FF;
}
.btn-lg:hover{
  background-color: #EE82EE;
  border: 3px outset #EE82EE;
}
.leaderboard.animated.fadeInLeft {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-underline-position: below;
  text-decoration: underline;
  animation-delay: 2.25s;
}
/* leaderboard names and scores */
.animated.zoomInUp{
  animation-delay: 3s;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


/* intro page */
#introJumboAnimation {
  animation-delay: 1s;
  animation-duration: 2s;
}
#category {
  text-align: center;
  margin: 20px auto 20px auto;
  display: block;
}
.animated.slideInLeft{
  animation-duration: 1s;
}
#categorybutton{
  text-align: center;
  margin: 20px auto 20px auto;
  display: block;
}
button {
  margin: auto;
  width: 150px;
  height: 100px;
  text-align: center;
  display: inline-block;
}
#Lcode {
  animation-delay: 1.75s;
  background-color: #EE82EE;
  color: black;
  font-weight: bold;
  border: 3px outset #EE82EE;
}
#Lcode:hover{
  color: #ffff00;
}
#Vgame {
  animation-delay: 1.5s;
  background-color: #ff4d4d;
  color: black;
  font-weight: bold;
  border: 3px outset #ff4d4d;
}
#Vgame:hover{
  color: #94ff1a;
}
#KanCit {
  animation-delay: 1.25s;
  background-color: #94ff1a;
  color: black;
  font-weight: bold;
  border: 3px outset #94ff1a;
}
#KanCit:hover{
  color: #ff0000;
}
#Rand {
  animation-delay: 1s;
  background-color: #40C4FF;
  color: black;
  font-weight: bold;
  border: 3px outset #40C4FF;
}
#Rand:hover{
  color: #ffff00;
}


/* game page */
#myCanvas{
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 0;
  margin: 20px auto 20px auto;
  display: block;
  animation-delay: .5s;
  background-color: #ffe9e9;
}
#gif {
  text-align: center;
  margin: 20px auto 20px auto;
  display: block;
  animation-delay: 1.75s;
}
#WORD {
    color: black;
    text-align: center;
}
#HINT {
  color: black;
  text-align: center;
}
#game_word {
    font-family: arial black;
    font-size: 30px;
}
#letterbank {
  line-height:45px;
  display: block;
  text-align: center;
}
.btn-sm {
    color: black;
    background-color: #40C4FF;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    margin: 0px; 3px; 3px; 0px;
    cursor: pointer;
    text-align: center;
    width: 38px;
}
.btn-sm:hover {
  background-color: #B2FF59;
}
.disabled {
  opacity: 0.5;
  color: black;
  cursor:default;
}


/* new game page */
#result {
  font-family:"Comic Sans MS", cursive, sans-serif;
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
#playAgainButton {
    height: 50px;
    color: black;
    background-color: #40C4FF;
    text-align: center;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}
#playAgainButton:hover{
  background-color:#B2FF59;
}
p {
  color: black;
  font-weight: bold;
  text-align:center;
  font-size: 50px;
}
