h1 {
    color: blue;
    text-align: center;
}
.container {
  height: auto;
  width: auto;
}
#letters a {
    color: white;
    background-color: rgb(52, 74, 95);
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
    border: 25px 25px 25px 25px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}
#letters a:hover {
  color: red;
}
#game_word {
    font-family: arial black;
    font-size: 30px;
}
#playAgainButton {
    width:300px;
    color: white;
    background-color: rgb(52, 74, 95);
}
#hangman_image {
    height:100px;
}
